/* intuitivnejší box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	#f5f5f5					šedé pozadí stránky
	#629fe0					modrá čárka
	Jedeme retro černobíle (až na tu modrou), dnes další barvy nepotřebujeme.

	FONTY
	Merriweather		základní font na stránce
	Raleway					nadpisy a menu
	Oba fonty jsou dostupné na Google Fonts.
*/

body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-size: 16px;
	line-height: 1.6;
	font-family: 'Merriweather', serif;
}


h1,
h2,
li {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 60px;
	font-weight: bold;
	padding: 60px 0;
	margin: 0;
}

h2 {
	font-size: 30px;
	font-weight: bold;
	margin: 50px 0;
	
}

h2::after {
	content: "";
	display: block;
	background-color: #629fe0;
	height: 4px;
	width: 100px;
	margin: 17px 0;
	position: absolute;
	left: 0;
}

p {
	font-size: 14px;
}

h1,
h2,
li,
p {
	padding: 0 20px;
}

.podpis {
	font-style: italic;
	font-size: 20px;
	opacity: 80%;
	display: grid;
	margin: 30px 0;
}

.podpis::before {
	content: '';
	display: block;
	height: 2px;
	width: 100px;
	background-color: white;
	opacity: 80%;
	justify-self: center;
	margin: 20px;

}

img {
	width: 100%;
}

header {
	background-image: url(images/island-hlavicka.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	height: 450px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 30px 0;
}

ul a {
	text-decoration: none;
	color: grey;
	text-transform: uppercase;
}

li {
	border-bottom: 1px solid grey;
	text-align: center;
	padding: 10px 0;
}
	
.fotogalerie {
	color: gray;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.fotogalerie p::first-line {
	font-weight: 700;
}

a {
	color: gray;
}


@media screen and (min-width: 540px) {
	ul {
		display: flex;
		justify-content: center;
	}	

	li {
		margin: 0px 20px;
		border-bottom: transparent;
	}
}